a {
    cursor:pointer;
    display:inline-block;
}

body {
    font-family: 'Open Sans', Sans-serif;
    font-size: 18px;
    color:#333;
    background:#333;
    padding:0;
    margin:0;
}

.container {
    background:#d7d7d7;
    height:100vh;
    width:100vw;
    position:relative;
    transition:.3s all ease-in-out;
    box-shadow: 0 0 5vh rgba(0,0,0,.1);
}

div.modal {
    position:absolute;
    padding: 4em;
    background:#293040;
    color:#888;
    top:10%;
    left:25%;
    /* 화면에서 어긋나면 top, left로 위치 조정하기 */
    transition: .3s all ease-in-out;
    min-width:300px;
    font-size:14px;
    border-radius:0;
    max-height:100vh;
    max-width:100vw;
    overflow:auto;
    box-shadow: 0 5px 15px rgba(0,0,0,.3);
}

.content {
    max-height:45em;
    overflow:hidden;
}

/* 링크 버튼 */
.nav {
    font-size: 20px;
    font-weight:lighter;
    margin-bottom:4em;
}
a {
    color:#888;
    text-decoration:none;
}
.nav.active {
    font-weight:600;
    color:#fff;
}
.nav + .nav {
    margin-left: 2em;
}


/* 폼 모양 */
div.modal {
    background: #293040;
    background-repeat: no-repeat;
    background-position:center center;
    background-size:cover;
}

label {
    text-transform: uppercase;
    font-size:10px;
    display:block;
}

input,
button {
    box-sizing : border-box;
    width:100%;
    border:0;
    border-radius: .3em;
    padding: .7em 1em;
    font-family: 'Open Sans', Sans-serif;
}

input {
    background:rgba(#E2BC97,.1);
    margin: .5em 0 1.5em;
    font-weight:600;
    color:#E2BC97;
    border-bottom:2px solid transparent;
    transition:.3s all ease-in-out;
    letter-spacing:.05em;
}
input:focus {
    outline:none;
    border-bottom-color: rgba(#E2BC97,.4);
}

button {
    cursor:pointer;
    margin: 4em 0;
    background: #E2BC97;
    color:#293040;
    font-weight: 700;
    text-transform:uppercase;
    position:relative;
    transition:.3s all ease-in-out;
}

@keyframes throb {
    0%,100% {
    letter-spacing:.05em;
    }
    50% {
    letter-spacing:.2em;
    }
}